 <section>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="/images/logo-sunumeteo.png" class="logo-meteo" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Previsions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Maps</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Images</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>
<section class="acceuil">
  <div class="container barre-search  ">
    <div class="form-inline id=weatherForm">
      <input  class="form-control py-3 mr-sm-2" [(ngModel)]="city" type="search" placeholder="Entrer une ville" aria-label="Search">
      <button class="btn btn-outline-success p-3 my- my-sm-0" (click)="onClick()" type="submit">Search</button>
    </div>
  </div>
  
  <h1 id="nomVille"> {{ dataWeather?.name}},{{dataWeather?.sys.country}}</h1>
  <p class="jourActuel">{{ currentDate }}</p>
  <div class="icotemp">

    <img  class="icone1" src="/images/thunder-icon.png" alt="">
    <span id="temperature"  class="temperature"> {{dataWeather?.main.temp}}<sup>°C</sup></span>
  </div>
  <p id="misAjour">Last updated at {{ dataWeather?.dt}} </p>
  <p id="description"> {{ dataWeather?.weather[0].description }}</p>
  <div class="container block">
    <div class="block-item">
      <div class="icon-petit">
        <img class="petit-icon" src="/images/temperature-icon.png" alt="">
      </div>
     
      <div class="texte">
        <p >Temperature</p>
        <p id="tempInterval"> {{ dataWeather?.main.temp_max }}  / {{ dataWeather?.main.temp_min }} </p>
      </div>
    </div>
    <div class="block-item">
      <div class="icon-petit">
        <img class="petit-icon" src="/images/wind-icon.png" alt="">
      </div>
     
      <div class="texte">
        <p> wind </p>
        <p id="vent">{{ dataWeather?.wind.speed }} km</p>
      </div>
    </div>
    <div class="block-item">
      <div class="icon-petit">
        <img class="petit-icon" src="/images/rain-icon.png" alt="">
      </div>
      
      <div class="texte">
        <p>Humidity </p>
        <p id="himidite">{{dataWeather?.main.humidity}}%</p>
      </div>
    </div>
    <div class="block-item">
      <div class="icon-petit">
        <img class="petit-icon" src="/images/eye-icon.png" alt="">
      </div>
   
      <div class="texte">
        <p>Visibility </p>
        <p id="visibilite">{{dataWeather?.visibility}}</p>
      </div>
    </div>
  </div>
 

</section>

<section class="  prevision" id="prevision">
<h1>Prévisions Météo Hebdomadaires </h1>
<p>The 'Recent Search Weather' section displays the latest weather information for the cities you have recently
  searched. Stay up-to-date with the weather conditions of your preferred cities with this section.</p>
<div class="container prevision-day ">
  
      <div class="block-prevision">
         <i class="fa-solid fa-cloud-rain  fa-2x p-2"></i>
         <p class="fs-4 fw-semibold"> 12°C</p>
         <p class="fs-5 fw-semibold">Rain</p>
         <hr>
         <div class="d-flex gap-2">
            <p> <i class="fa-solid fa-droplet"></i> 2 %</p>  
            <div class="ligne-vertical"></div>
            <p> <i class="fa-solid fa-wind"></i> 2 km/h</p>
         </div>
         <p class="fs-5 fw-semibold">Sunday</p>
      </div>

      <div class="block-prevision">
        <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
        <p class="fs-4 fw-semibold"> 12°C</p>
        <p class="fs-5 fw-semibold">Rain</p>
        <hr>
        <div class="d-flex gap-2">
           <p><i class="fa-solid fa-droplet"></i> 2 % </p>  
           <div class="ligne-vertical"></div>
           <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
        </div>
        <P class="fs-5 fw-semibold">Monday</P>
      </div>

      <div class="block-prevision">
        <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
        <p class="fs-4 fw-semibold"> 12°C</p>
        <p class="fs-5 fw-semibold">Rain</p>
        <hr>
        <div class="d-flex gap-2">
           <p><i class="fa-solid fa-droplet"></i> 2 % </p>  
           <div class="ligne-vertical"></div>
           <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
        </div>
        <P class="fs-5 fw-semibold">Tuesday</P>
      </div>

      <div class="block-prevision">
        <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
        <p class="fs-4 fw-semibold"> 12°C</p>
        <p class="fs-5 fw-semibold">Rain</p>
        <hr>
        <div class="d-flex gap-2 fs-6">
           <p><i class="fa-solid fa-droplet"></i> 2 % </p> 
           <div class="ligne-vertical"></div> 
           <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
        </div>
        <p class="fs-5 fw-semibold">Wednesday</p>
     </div>

     <div class="block-prevision">
         <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
         <p class="fs-4 fw-semibold"> 12°C</p>
         <p class="fs-5 fw-semibold">Rain</p>
         <hr>
         <div class="d-flex gap-2 fs-6">
            <p><i class="fa-solid fa-droplet"></i> 2 % </p> 
            <div class="vertical-line"></div> 
            <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
         </div>
         <P class="fs-5 fw-semibold">Thursday</P>
      </div>

      <div class="block-prevision fs-6">
        <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
        <p class="fs-4 fw-semibold"> 12°C</p>
        <p class="fs-5 fw-semibold">Rain</p>
        <hr>
        <div class="d-flex gap-2 fs-6">
           <p><i class="fa-solid fa-droplet"></i> 2 % </p>  
           <div class="ligne-vertical"></div>
           <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
        </div>
        <p class="fs-5 fw-semibold">Friday</p>
     </div>

     <div class="block-prevision">
      <i class="fa-solid fa-cloud-rain p-2 fa-2x"></i>
      <p class="fs-4 fw-semibold"> 12°C</p>
      <p class="fs-5 fw-semibold">Rain</p>
      <hr>
      <div class="d-flex gap-2 fs-6">
         <p><i class="fa-solid fa-droplet"></i> 2 % </p>  
         <div class="ligne-vertical"></div>
         <p><i class="fa-solid fa-wind"></i> 2 km/h</p>
      </div>
      <p class="fs-5 fw-semibold">Saturday</p>
   </div>


                    
     

</div>
<section></section>