.logo-meteo{
    width: 160px;
  
}
.acceuil{
    background-image:  url(/images/bg-1.png);
    background-position: center ;
   background-size: cover !important;
   background-repeat: no-repeat !important;
   color: white;
   text-align: center;
   font-weight: bold;
}
h1{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.temperature{
    font-size:140px;
    margin: 0px;
    padding: 0px;
  
}
.temperature sup{
    font-size: 80px;
    font-weight: 400px;
     
}
.icone1{
height: 120px;
display: block;
}
.icotemp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.block-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.petit-icon{
    
    height: 33px;
    width: 24px;
    display: block;
    
}
.texte{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: start;
    align-items: start;
    padding-top: 8%;
}
.icon-petit{
    padding: 16px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: block;
}
.form-inline{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barre-search {
    width: 80%;
    padding-top: 40px;
    justify-content: center;
}

@media (max-width: 768px) {
    .block {
      flex-wrap: wrap;
    }
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .temperature{
        font-size:100px;
        margin: 0px;
        padding: 0px;
      
    }
    .temperature sup{
        font-size: 60px;
        font-weight: 300px;
         
    }
  }
  .acceuil p{
    font-size: 20px;
  }

